@model IEnumerable<ocbc_team1.Models.BankAccount>
@{
    ViewData["Title"] = "Dashboard";
}
<div style="padding-top:100px; padding-bottom:100px; min-height:1200px;
            background-color: #9e0005;
            background-image: linear-gradient(19deg, #9e0005 0%, #ff6367 100%);
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            " class="p-3 p-md-5">
    <div class="p-5 bg-white shadow mx-auto container">
        <h2 class="pb-5">Your Accounts</h2>
        @{
            int counter = 0;

            //  Template loop, use when DAL ready.
            if (@TempData["SuccessMessage"] != null)
            {
                <div class="bg-success text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                    @TempData["SuccessMessage"]
                </div>
            }    

            @foreach (var item in Model)
            {
                <a style="color:inherit;text-decoration:none;" class="clickToHistory" asp-action="TransferHistory" asp-controller="Dashboard" asp-route-AccountNumber="@item.AccountNumber">
                    <div class="container mx-auto shadow text-white rounded-lg p-5 mb-3" style="background-color: #7c0001; background-image: linear-gradient(43deg, #7c0001 0%, #f70000 46%, #be040b 100%); ">
                        <h4>@item.AccountType Account</h4>
                        <h2>@item.AccountNumber</h2>
                        <div class="mp-4 row justify-content-end">
                            <h3 class="col-4">Account Balance<br /> $@item.AmountAvaliable</h3>
                            <h3 class="col-4">Total Balance<br /> $@item.AmountRemaining</h3>
                        </div>
                    </div>
                </a>
                counter += 1;
            }
            @if (counter == 0)
            {
                <span style="color:red">No active accounts</span>
            }

        }
    </div>
</div>