@model ocbc_team1.Models.NewBankAccountViewModel
@{
    ViewData["Title"] = "New Bank Account";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Transfer.css">
</head>

<div style="padding-top:100px; padding-bottom:100px;
            background-color: #9e0005;
            background-image: linear-gradient(19deg, #9e0005 0%, #ff6367 100%);
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            ">
        <form method="post" class="p-5 bg-white shadow  col-md-10 col-lg-6 mx-auto" id="TransferBoard" asp-controller="Dashboard" asp-action="AddAccount">
            <h2 class="pb-5">Open a New Bank Account</h2>
            <fieldset class="FormContent">

                <div class="form-group">
                    <label asp-for="AccountType" class="col-form-label">Select New Account Type</label>
                    <select class="form-select text-left p-3" style="width:100%; border-style:none;" aria-label="Default select example" asp-for="AccountType">
                        <option value="Savings">Savings</option>
                        <option value="Current">Current</option>
                    </select>
                </div>
                <span class="form-group">
                    <label asp-for="AmountRemaining" class="col-form-label">Set Initial Account balance</label>
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input asp-for="AmountRemaining" class="form-control rounded-0" placeholder="Enter New Account Balance" />
                                <span asp-validation-for="AmountRemaining" class="text-danger"></span>
                            </div>
                    </div>
                    @if (@TempData["ErrorMessage"] != null)
                    {
                        <div class="bg-danger text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    @if (@TempData["SuccessMessage"] != null)
                    {
                        <div class="bg-success text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    @*<span class="text-danger">@TempData["ErrorMessage"]</span>
                    <span class="text-success">@TempData["SuccessMessage"]</span>*@
                    <div class="mt-5" style="float:right">
                        <input type="submit" value="Create Account" class="btn text-white px-5 rounded-0" style="background-color:red; margin:0px" />
                    </div>
            </fieldset>
        </form>
    </div>
</div>