@model ocbc_team1.Models.UpdateUserProfileForm
@{
    ViewData["Title"] = "Profile Settings";
    string currentotptype = TempData["currentotptype"] as string;
    User u = TempData["UserObject"] as User;
}

<div style="
            background-color: #9e0005;
            background-image: linear-gradient(19deg, #9e0005 0%, #ff6367 100%);
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            " class="p-3 p-md-5">
    <div class="p-5 bg-white shadow mx-auto container col-12 col-md-10 col-lg-6 mx-3 my-5">
        <div class="row">
            @if (@TempData["Message"] != null)
            {
                <div class="bg-success text-white py-3 px-5 mx-auto rounded-pill shadow-lg text-center">
                    @TempData["Message"]
                </div>
            }
            @if (@TempData["ErrorMessage"] != null)
            {
                <div class="mx-auto bg-danger text-white py-3 px-5 mx-auto rounded-pill shadow-lg text-center">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>

        @* UPDATE FORM *@
        <div class="row mb-3">
            <h2 class="mb-3 col-12">Update Profile</h2>
            <form method="post" enctype="multipart/form-data" asp-action="SubmitUpdateUserProfileForm" class="mt-3 col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* IMAGE FORM GROUP *@
                <div class="form-group">
                    <label asp-for="ProfilePictureFile" class="control-label">Profile Picture</label>
                    <div class="m-3">
                        @if (u.ProfilePicURL == null || u.ProfilePicURL == "")
                        {
                            <img class="col-10 col-md-6 d-block mx-auto rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" id="selectedimagedisplay" />
                        }
                        else
                        {
                            <img class="col-10 col-md-6 d-block mx-auto rounded-circle" src="@u.ProfilePicURL" id="selectedimagedisplay" /><br />
                            <a asp-controller="Dashboard" asp-action="DeleteProfilePicture" asp-route-stringidentifier="@u.ProfilePicStrIdentifier" class="btn btn-secondary d-block col-6">Remove Profile Picture</a>
                        }
                    </div>
                    <div class="custom-file">
                        <input type="file" asp-for="ProfilePictureFile" class="custom-file-input" id="profilepicinput">
                        <label class="custom-file-label" asp-for="ProfilePictureFile"></label>
                    </div>
                </div>
                @* EMAIL FORM GROUP *@
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" value="@u.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @* PHONE NUMBER *@
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" value="@u.PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <input type="submit" value="Update" class="col-12 col-md-4 mb-3 mt-2 btn btn-danger rounded-0 btn-lg btn-block" />
            </form>
        </div>

        @* OTP OPTION *@
        <div class="row">
            <div>
                <h4>Change OTP Type</h4>
                <span class="font-italic text-secondary">Current method of receiving OTP: @TempData["currentotptype"]</span>
                <br />
                <div class="btn-group mt-3">
                    @{

                        if (currentotptype == "Telegram")
                        {
                            <label class="btn btn-danger">
                                <a asp-controller="Dashboard" asp-action="ChangeProfile" asp-route-typeotp="Telegram" class="px-3 text-white">Telegram</a>
                                @*<input type="radio" name="options" id="option1" autocomplete="off" checked> Active*@
                            </label>
                            <label class="btn btn-outline-danger">
                                <a asp-controller="Dashboard" asp-action="ChangeProfile" asp-route-typeotp="SMS" class="px-3 text-black-50">SMS</a>
                                @*<input type="radio" name="options" id="option2" autocomplete="off"> Radio*@
                            </label>
                        }
                        else if (currentotptype == "SMS")
                        {
                            <label class="btn btn-outline-danger">
                                <a asp-controller="Dashboard" asp-action="ChangeProfile" asp-route-typeotp="Telegram" class="px-3 text-black-50">Telegram</a>
                                @*<input type="radio" name="options" id="option1" autocomplete="off" checked> Active*@
                            </label>
                            <label class="btn btn-danger">
                                <a asp-controller="Dashboard" asp-action="ChangeProfile" asp-route-typeotp="SMS" class="px-3 text-white">SMS</a>
                                @*<input type="radio" name="options" id="option2" autocomplete="off"> Radio*@
                            </label>
                        }
                        else { <span class="text-danger">Invalid current otp type, current otp type: @currentotptype</span> }
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    const image_input = document.querySelector("#profilepicinput");
    var uploaded_image = "";
    image_input.addEventListener("change", function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            uploaded_image = reader.result;
            $("#selectedimagedisplay").attr("src", uploaded_image);
        });
        reader.readAsDataURL(this.files[0]);
    });
</script>