@model ocbc_team1.Models.TransferViewModel
@{
    ViewData["Title"] = "Transfer";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Transfer.css">
</head>

<div style="padding-top:100px; padding-bottom:100px;
            background-color: #9e0005;
            background-image: linear-gradient(19deg, #9e0005 0%, #ff6367 100%);
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            ">
    <form method="post" class="p-5 bg-white shadow col-md-8 mx-auto" id="TransferBoard" asp-controller="Dashboard" asp-action="CreateScheduledTransfer">
        <fieldset class="FormContent">
            <h2 class="pb-5">Schedule a Trasnfer</h2>

            @* FROM ACCOUNT *@
            <div class="form-group">
                <label class="col-form-label">Transfer Type</label>
                <div class="form-check form-check-inline">
                    <div class="ml-3 p-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0" onclick="changingOptions()" checked>
                        <label class="form-check-label" for="inlineRadio1">Using OCBC Acount Number</label>
                    </div>
                    <div class="ml-3 p-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" onclick="changingOptions2()">
                        <label class="form-check-label" for="inlineRadio1">Using Phone Number</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="From_AccountNumber" class="col-form-label">Fund Source</label>
                <select class="form-select text-left p-3" style="width:100%; border-style:none;" aria-label="Default select example" asp-for="From_AccountNumber"
                        asp-items="@(new SelectList(ViewData["UserOwnAccountList"] as List<BankAccount>, "AccountNumber", "AccountNumber"))">
                    @*<option selected>Select an account</option>*@
                </select>
            </div>
            <hr />


            @* BY ACCOUNT NUMBER *@
            <div class="form-group" id="AccountNumberDiv">
                <label asp-for="To_AccountNumber" class="col-form-label">Transfer by Bank Account Number</label>
                <div>
                    <input asp-for="To_AccountNumber" class="form-control rounded-0 p-4" id="ACinput" placeholder="Enter recipient bank account number to transfer" />
                    <span asp-validation-for="To_AccountNumber" class="text-danger"></span>
                </div>
            </div>

            @* BY PHONE NUMBER *@
            <div class="form-group" id="PhoneNumberDiv" style="display:none">
                <label asp-for="PhoneNumber" class="col-form-label">Transfer by Phone Number</label>
                <div>
                    <input asp-for="PhoneNumber" class="form-control rounded-0 p-4" id="PHinput" placeholder="Enter recipient phone number to transfer" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            @*TransferCurrency*@
            <div>
                <label asp-for="TransferCurrency" class="col-form-label">Transfer Currency</label>
                <div>
                    <input asp-for="TransferCurrency" class="form-control rounded-0 p-4" id="ACinput" placeholder="Enter Currency" />
                    <span asp-validation-for="TransferCurrency" class="text-danger"></span>
                </div>
            </div>

            @*TransferAmount*@
            <div class="form-group">
                <label asp-for="TransferAmount" class="col-form-label">Transfer Amount</label>
                <div class="container_content">
                    <div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text p-3">$</span>
                            </div>
                            <input asp-for="TransferAmount" class="form-control rounded-0" style="height:auto;" placeholder="Enter Amount To Transfer" />
                            <span asp-validation-for="TransferAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Choosing of Time*@
            <div class="form-group">
                <label asp-for="TransferDate" class="col-form-label">Schedule Date & Time</label>
                <input asp-for="TransferDate" id="ScheduledDate" class="form-control rounded-0 p-4" placeholder="5. Enter the date you want to transfer" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>

            @if (@TempData["ErrorMessage"] != null)
            {
                <div class="mx-auto bg-danger text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                    @TempData["ErrorMessage"]
                </div>
            }
            @if (@TempData["SuccessMessage"] != null)
            {
                <div class="mx-auto bg-success text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                    @TempData["SuccessMessage"]
                </div>
            }

            @*<span class="text-danger">@TempData["ErrorMessage"]</span>
        <span class="text-success">@TempData["SuccessMessage"]</span>*@
            <div class="mt-5" style="float:right">
                <input type="submit" value="Next" class="btn text-white px-5 rounded-0 shadow" style="background-color:red; margin:0px" />
            </div>
        </fieldset>
    </form>
</div>

<script src="~/js/Transfer.js" asp-append-version="true"></script>
