@model ocbc_team1.Models.TransferViewModel
@{
    ViewData["Title"] = "Transfer";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Transfer.css">
</head>

<div style="padding-top:100px; padding-bottom:100px; min-height:1200px;
            background-image:url('/images/white-brick.jpg');
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            ">
    <div style="max-width:800px; margin:auto;" class="p-5">
        <h2 class="pb-5">Make a new transfer</h2>
        <form method="post" class="" id="TransferBoard" asp-controller="Dashboard" asp-action="CreateTransfer">
            <fieldset class="FormContent">

                <div class="Main_container shadow">
                    <div class="container_header">1. Transfer Type</div>
                    <div class="container_content bg-light">
                        <div class="form-check form-check-inline">
                            <div class="ml-3 p-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0" onclick="changingOptions()" checked>
                                <label class="form-check-label" for="inlineRadio1">Using OCBC Acount Number</label>
                            </div>
                            <div class="ml-3 p-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" onclick="changingOptions2()">
                                <label class="form-check-label" for="inlineRadio1">Using Phone Number</label>
                            </div>
                        </div>
                    </div>

                    @*<div class="radio_buttons">
                @foreach (var item in ViewData["TransferType"] as List<String>)
                {
                    <input type="radio" value="@item" class="form-check-input" />
                    <span style="font-weight:normal;padding-right:20px">@item</span>
                }
            </div>*@
                </div>

                <div class="Main_container shadow">
                    <div class="container_header">
                        <label asp-for="From_AccountNumber" class="col-form-label">2. Select an account number to transfer from</label>
                    </div>
                    <div class="container_content bg-light">
                        <select class="form-select text-left p-3" style="width:100%" aria-label="Default select example" asp-for="From_AccountNumber"
                                asp-items="@(new SelectList(ViewData["UserOwnAccountList"] as List<BankAccount>, "AccountNumber", "AccountNumber"))">
                            @*<option selected>Select an account</option>*@
                        </select>
                    </div>
                </div>

                @* BY ACCOUNT NUMBER *@
                <div class="Main_container shadow" id="AccountNumberDiv">
                    <div class="container_header"><label asp-for="To_AccountNumber" class="col-form-label">3.Transfer by Bank Account Number</label></div>
                    <div class="container_content bg-light">
                        <div>
                            <input asp-for="To_AccountNumber" class="form-control rounded-0" id="ACinput" placeholder="Enter recipient bank account number to transfer" />
                            <span asp-validation-for="To_AccountNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @* BY PHONE NUMBER *@
                <div class="Main_container shadow" id="PhoneNumberDiv" style="display:none">
                    <div class="container_header"><label asp-for="PhoneNumber" class="col-form-label">3.Transfer by Phone Number</label></div>
                    <div class="container_content ">
                        <div>
                            <input asp-for="PhoneNumber" class="form-control rounded-0" id="PHinput" placeholder="Enter recipient phone number to transfer" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="Main_container shadow">
                    <div class="container_header"><label asp-for="TransferAmount" class="col-form-label">4.Transfer amount</label></div>
                    <div class="container_content">
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input asp-for="TransferAmount" class="form-control rounded-0" placeholder="Enter Amount To Transfer" />
                                <span asp-validation-for="TransferAmount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                @* OTP Part *@
                <div class="Main_container shadow">
                    <div class="container_header"><label asp-for="OTP" class="col-form-label">5.Enter OTP</label></div>
                    <div class="container_content">
                        <input asp-for="OTP" class="form-control rounded-0" placeholder="Enter Amount To Transfer" />
                        <span asp-validation-for="OTP" class="text-danger"></span>
                        @* OTP Send Button (Consideration but do not do: otp send cooldown timer to avoid spam) *@
                        <button class="btn btn-danger" style="border-radius:0px;" asp-action="">Send OTP</button>
                    </div>
                </div>

                <span class="text-danger">@TempData["ErrorMessage"]</span>
                <span class="text-success">@TempData["SuccessMessage"]</span>
                <div class="mt-5" style="float:right">
                    <input type="submit" value="Transfer" class="btn text-white px-5 rounded-0 shadow" style="background-color:red; margin:0px" />
                </div>
            </fieldset>
        </form>
        <script src="~/js/Transfer.js" asp-append-version="true"></script>
    </div>
</div>