@model ocbc_team1.Models.PostTransferOTP_ViewModel
@{
    //Model.tfvm = ViewData["TFVM"] as TransferViewModel;
    ViewData["Title"] = "Confirm Transfer with OTP";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Transfer.css">
</head>

<div style="padding-top:100px; padding-bottom:100px; min-height:1200px;
            background-image:url('/images/white-brick.jpg');
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            ">
    <div style="max-width:500px; margin:auto;" class="p-5 bg-light shadow-lg">
        <h2 class="pb-3">Transfer Failed</h2>

        <form method="post" class="" id="TransferBoard" asp-controller="Dashboard" asp-action="RetryTransferConnectionError">
            <fieldset class="FormContent">

                <div class="form-group bg-secondary text-white shadow-lg rounded p-4 mb-3">
                    <h4>From</h4>
                    <p>@Model.tfvm.From_AccountNumber</p>
                    <h4>Recipient</h4>
                    <p>
                        @{
                            if (Model.tfvm.To_AccountNumber != null)
                            {
                                @Model.tfvm.To_AccountNumber;
                            }
                            if (Model.tfvm.PhoneNumber != null)
                            {
                                @Model.tfvm.PhoneNumber;
                            }
                    }
                </p>
                <h4>Amount</h4>
                <p>$ @Model.tfvm.TransferAmount</p>
            </div>
            <div style="display:none;">
                <label asp-for="tfvm.From_AccountNumber"></label>
                <input asp-for="tfvm.From_AccountNumber" value="@Model.tfvm.From_AccountNumber" />
                <label asp-for="tfvm.To_AccountNumber"></label>
                <input asp-for="tfvm.To_AccountNumber" value="@Model.tfvm.To_AccountNumber" />
                <label asp-for="tfvm.PhoneNumber"></label>
                <input asp-for="tfvm.PhoneNumber" value="@Model.tfvm.PhoneNumber" />
                <label asp-for="tfvm.TransferAmount"></label>
                <input asp-for="tfvm.TransferAmount" value="@Model.tfvm.TransferAmount" />
            </div>

            @*<div class="form-group">
                <label asp-for="OTP" class="control-label">6-digit PIN</label>
                <input asp-for="OTP" class="form-control rounded-0 p-3" />
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>*@

            <div class="mt-5" style="float:right">
                <input type="submit" value="Retry Transfer" class="btn text-white px-5 rounded-0 shadow-lg" style="background-color:red; margin:0px" />
            </div>
        </fieldset>
    </form>

</div>
</div>